@font-face
	font-family: 'iconfont'
	src: url('../font/iconfont.eot')
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
	url('../font/iconfont.woff') format('woff'),
	url('../font/iconfont.ttf') format('truetype'),
	url('../font/iconfont.svg#iconfont') format('svg')

.iconfont
	font-family:"iconfont" !important
	font-size:3.4rem
	font-style:normal
	-webkit-font-smoothing: antialiased
	-webkit-text-stroke-width: 0.2px
	-moz-osx-font-smoothing: grayscale

html
	font-size: 62.5%
body
	margin:0
	padding:0
	font-size: 1.2rem
	font-family: "Microsoft Yahei"
	letter-spacing:2px
	background-color: #ddd
h1
h2
h3
h4
em
	font-weight: normal
h1
h2
h3
h4
p
ul
li
dl
	margin: 0
ul
	list-style-type: none
	padding: 0
a
	text-decoration: none
	color: #333
em
	font-style: normal
.clearfix
	clear: both
	overflow: hidden
.orange
	color: #ff6000
.blue
	color: #2395ff
.rating-star span.star
	position: absolute
	left: 0
	top: 0
	overflow: hidden
	display: flex
.rating-star .star i
	color: #f80
	-webkit-flex: none
	flex: none
.rating-star .star-gray i
	color:#ddd
-pos(type, args)
	i = 0
	position: unquote(type)
	{args[i]}: args[i+1] is a 'unit' ? args[i += 1] : 0
	{args[i += 1]}: args[i+1] is a 'unit' ? args[i += 1] : 0
absolute()
	-pos('absolute', arguments)
fixed()
	-pos('fixed', arguments)
border-radius()
	-webkit-border-radius: arguments
	-moz-border-radius: arguments
	border-radius: arguments
